.main-background{
    background-image: url(http://samil.hs.kr/_design/home/cur/images/1_Main_200409.png);
    background-size: cover;
    color:white;
    border-radius: 0px;
}
.back-background{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    transform: translateY(-1000px);
    transition: all 1s;
}
.white-background{
    background-color: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    /* transform: translateY(-1000px); */
    border-radius: 10px;
}
/* 
.slide-down{
    
} */

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
} 

.nav-sub{
    display: none;
  
  } 
#email-alert,#pwd-alert,#email-alertt,#pwd-alertt{
    display: none;
}
.left-menu{
    width: 150px;
    height: 100%;
    background-color: black;
    color: white;
    position: fixed;
    margin-left: -150px;
    
}
.slide-box{
    width: 100vw;
    float: left;
}
.slide-container{
width: 300vw;
transition: all 1s;
    /* transform: translateX(-100vw); */
}
.slide-box img{
    width: 100%;
}

.slide-next{
    position: absolute;
    top: 45%;
    right: 0;
}
.slide-before{
    position: absolute;
    top: 45%;
    left: 0;
}